<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tairov.baxti.shop">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shop">
        <activity
            android:name=".cashBox.CashBox"
            android:exported="true" />
        <activity
            android:name=".expenses.Expenses"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firms.firmDetail.InvoiceImage"
            android:exported="true" />
        <activity
            android:name=".firms.firmDetail.AddInvoice"
            android:exported="true" />
        <activity
            android:name=".auth.SignInOrSignUp"
            android:exported="true" />
        <activity
            android:name=".shoppingList.ShoppingList"
            android:exported="true" />
        <activity
            android:name=".debetors.Debtors"
            android:exported="true" />
        <activity
            android:name=".firms.AddFirm"
            android:exported="true" />
        <activity
            android:name=".firms.firmDetail.FirmDetail"
            android:exported="true" />
        <activity
            android:name=".firms.Firms"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>